body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:large;
}

input {
    width:400px;
    margin:8px 4px 8px 4px;
    border:1px solid red;
    border-radius:3px 4px;
}